<html lang="en">

<head>
    <title>Food 4 All Kids | Inventory</title>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- vendor css-->
    <link href="/feedbackResponceReasources/animsition/animsition.min.css" rel="stylesheet" media="all">
    
    <link rel="stylesheet" href="/feedbackResponceReasources/bootstrap.min.css" />
    <!-- Custom Stylesheet :)  -->
    <link rel="stylesheet" href="/feedbackResponceReasources/style.css" />

    
</head>

<div class="page-container">
<body class="body" onload="load()">
    <div class="page-wrapper">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand head" action="dashboard" onclick="window.location.href='/dashboard'"><img src="/images/food4allkidslogoSmall.png" alt="logo">
</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="navbar-collapse collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" action="dashboard" onclick="window.location.href='/dashboard'">My Dashboard</a>
                <a class="nav-item nav-link" action="scanner" onclick="window.location.href='/scanner'">Scanner</a>
                <a class="nav-item nav-link" action="inventory" onclick="window.location.href='/inventory'">Inventory</a>
                <a class="nav-item nav-link" action="additem" onclick="window.location.href='/addItem'">Add Item</a>
                <a class="nav-item nav-link" action="account" onclick="window.location.href='/account'">Account</a>
                <a class="nav-item nav-link" action="feedback" onclick="window.location.href='/feedback'">Feedback</a>
                <a class="nav-item nav-link" action="login" onclick="window.location.href='/'">Log Out</a><!--just temporary... :D-->
            </div>
        </div>
    </nav>
    <!-- navbar ends -->
    <div class="container">
        <div id="header">
            <h2>Feedback Responses</h2>
        </div>

        <div id="actionButtons">
            <button id="buttons"onclick="exportTableToExcel('checkOutTable', 'feedback')">Download Responses</button>
        </div>

        <div id="tables" style=" width: 50vw;">
            <table class="table_background" id="checkOutTable" >
                <tr>
                    <th>Date</th>
                    <th>Paragraph</th>
                    <th>Q1</th>
                    <th>Q2</th>
                    <th>Q3</th>
                    <th>Q4</th> 
                    <th>Q5</th>
                    <th>Q6</th>
                </tr>
                
        
                
            </table>
            </div>
        </div>
        </div>
    </div>
    <div class="row" style="margin-left:auto; margin-right:auto;">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Food 4 All Kids - a website created by students, for the students. Project supported by <a href="https://www.hopkinsallchildrens.org/">John Hopkins All Children's Hospital.</a></p>
                                </div>
                            </div>
                        </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    function load(){
             console.log('connecting');
             //ajax call
              $.ajax({
                       url: '/loadFeedback',
                       method:'POST'
                     }).done(function(data){
                         if(data.success){
                             console.log(data.message);
                             $('#checkOutTable').append(data.message);
                            
                             return;
                         }
                     }).fail(function(){
                        //do nothing ....
                         console.log('failed...');
                         return;
                     });
             };
</script>
<script>
    var date = new Date();
    date = date.getDate;

    function exportTableToExcel(tableID, filename = ''){
    var downloadLink;
    var dataType = 'application/vnd.ms-excel';
    var tableSelect = document.getElementById(tableID);
    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
    
    // Specify file name
    filename = filename?filename+'.xls':'excel_data.xls';
    
    // Create download link element
    downloadLink = document.createElement("a");
    
    document.body.appendChild(downloadLink);
    
    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['\ufeff', tableHTML], {
            type: dataType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
    
        // Setting the file name
        downloadLink.download = filename;
        
        //triggering the function
        downloadLink.click();
    }
}</script>
<!--fixed waffle-->
    <script src="js/jquery-3.3.1.slim.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script> 
        <script src="js/inventory.js"></script>
</html>