<!DOCTYPE HTML>
<html lang="en" >
<html>
<head>
  <title>Feeding the Future | Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/loginResources/login_style.css">
  <script type="text/javascript" src="../cookies.js"></script>
  <script type="text/javascript" src="../login_signup/login.js"></script>


   <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
</head>

<body class="body">
	
	<!--<a href="https://github.com/Mehedi61/Login-form-Sign-up-form">  link to github--> 

<div class="login-page">
  <div class="form">
    <form>
      <img src="\images\logo2.png" alt="logo">

    <form class="login-form" action="/resetPassword" method="POST">
        <div class="input-group">
                        <div class="form-line">
                            <input type="username" class="form-control" id="username" name="username" placeholder="Username" required >
                            <input class="form-control" id="people" placeholder="# of people in household from file" name="people" required >
                            <input class="form-control" id="minors" name="minors" placeholder="# of children under 18 in household" required >
                            <input type="password" class="form-control" id="pwd" name="pwd" placeholder="New password" required >

                        </div>
                    </div>
      <button type="submit" onclick="window.location.href='/'">RESET MY PASSWORD</button>
    </form>



  <a action="login" onclick="window.location.href='/'">Back to login</a>
  </div>
</div>
  <script>
      
      
  </script>
  <script>
    function show(){
      var password = document.getElementById("password");
      var icon = document.querySelector(".fas")

      // ========== Checking type of password ===========
      if(password.type === "password"){
        password.type = "text";
      }
      else {
        password.type = "password";
      }
    };
  </script>
</body>
</html>

