body{
  background: #e5e5e5;
font-family: "Roboto", sans-serif;
-webkit-font-smoothing: antialiased;
/*-moz-osx-font-smoothing: grayscale;   */
}
#form {
margin-top: 10px;
}
.head{
  font-size: 18px !important;
}
.content {
  padding: 20px;
  min-height: 100%;
  margin: 0 auto -50px;
}
.footer{
  height: 50px; 
  background: dodgerblue;  
}
.push {
  height: 50px;
}
.navbar-toggler, .navbar-toggler-icon
{
  border:0px !important;
  outline:0px !important;
}
.section__content--p30 {
  padding: 15px 30px;
animation:transitionIn .75s;
}

@keyframes transitionIn { /* page transition*/
from {
  opacity:0;
  transform:rotateX(-10deg);
}
to {
  opacity:1;
  transform:rotateX(0);
}
}

h2{
  color: #526e86;
  padding: 5px 5px 5px 5px;  
  display:inline;
  font-size:25px;

}
h4{
  color: #89a9c4;
  display:inline;
  padding: 5px 5px 5px 5px;  
  font-size:25px;

}
h3{
   padding: 5px;
   font-weight: bold;
   font-size: 20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* Form issuing and receiving  */


.enthead {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 70px);
}
.entbuttons {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: auto;
}
.entmainndi {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 1fr minmax(500px, 550px) 1fr;
  grid-template-columns: 1fr minmax(500px, 600px) 1fr;
}
#entformarea {
  height:550px;
  display: grid;
  grid-row: 2/3;
  grid-column: 2/3;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.entform-group {
  width: 250px;
  height: 10px;
}
.entform-group:nth-child(even) {
  grid-column: 2/3;
}
.entform-group:nth-child(odd) {
  grid-column: 1/2;
}
.entform-group:nth-child(9) {
  grid-column: 1/3;
  grid-row: 5/6;
  margin-left: auto;
  margin-right: auto;
}
#entformsubb {
  grid-row: 6/7;
  grid-column: 1/3;
  width: 200px;
  height: 38px;
  margin: auto;
}
.entactive {
  font-size: 20px;
}
.entbtn {
  width: 100px;
}
.entselect {
  width: 250px;
}
.entselect select {
  border: 2px solid #0069D9;
  color: #0069D9;
}
.entselect select:focus {
  border: 2px solid #0069D9;
  color: #0069D9;
}
.entselect select option {
  background: #fff;
  color: #0069D9;
}
legend{
  text-align: center;
  grid-column: 2/3;
}
@media screen and (max-width:768px){
.enthead {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}
.entbuttons {
  grid-column: 1/2;
  margin: auto;
}
.entmainndi {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 1fr minmax(300px, 650px);
  grid-template-columns: 1fr minmax(300px, 500px) 1fr;
}
#entformarea {
  display: grid;
  grid-row: 2/3;
  grid-column: 2/3;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(8, minmax(85px,150px));
}
.entform-group {
  width: 250px;
  height: 10px;
}
.entform-group:nth-child(even) {
  grid-column: 2/3;
}
.entform-group:nth-child(odd) {
  grid-column: 2/3;
}
.entform-group:nth-child(9) {
  grid-column: 2/3;
  grid-row: 7/8;
  margin-left: auto;
  margin-right: auto;
}
#entformsubb {
  grid-row: 8;
  grid-column: 2/3;
  width: 200px;
  height: 38px;
  margin: auto;
}
.entactive {
  font-size: 20px;
}
.entbtn {
  width: 100px;
}
.entselect {
  width: 250px;
  grid-row: 6/7;
  grid-column: 2/3;
}
.entdept {
  grid-row: 7/8;
  grid-column: 2/3;
}
.entselect select {
  border: 2px solid #0069D9;
  color: #0069D9;
}
.entselect select:focus {
  border: 2px solid #0069D9;
  color: #0069D9;
}
.entselect select option {
  background: #fff;
  color: #0069D9;
}
legend{
  text-align: center;
  grid-column: 2/3;
}
}
#timing{
    width:250px;
    margin:0;
}

/* form issuing and receiveing end */

.page-container {
  background: #e5e5e5;
  padding-left: 0px;
}
.login-one-form {
  transform:translate(-50%, -50%);
  top:50%;
  max-width:350px;
  width:350px;
  left:50%;
  background-color:#fff;
  padding:30px;
  padding-right: 45px;
  border-radius:5px;
  position:absolute;
  box-shadow:2px 2px 4px rgba(0,0,0,0.2);
}
.login-one-ico {
  padding:0px;
  font-size:50px;
  text-align:center;
}

.form-group {
  text-align:center;
}

#input {
  margin:10px;

}
#input:focus {
  box-shadow: 0px 1px 4px rgba(0, 123, 255, 0.815);
  border:1px solid transparent;

}

#button {
  width:100%;
  margin:10px;
  border: none;
}

#heading {
  padding-bottom:10px;
}

#or{
  font-size: 14px;
  font-weight: bolder;
}
#guest{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#guest i{
  font-size: 60px;
}

/*table formatting*/
table {
  border-collapse:separate;
  border:solid whitesmoke 2px;
  border-radius:6px;
  -moz-border-radius:6px;
}
.table_background {
  background-color: white;
  margin-left: .5vw;
  margin-right: 3vw;
  margin-bottom: 3vh;
  margin-top: 1vh;
}

#checkOutTable {
  font-weight: 400;
  font-style: normal;
  border-collapse: collapse;
  width: 40%;
}
#checkOutTable tr:nth-child(even) {
background-color: /*#eee;*/#eff2f5
}
#checkOutTable tr:nth-child(odd) {
background-color: /*#fff*/rgba(114, 114, 113, 0.3);
padding: 10px 10px 10px 10px;
text-align: left;
}
#checkOutTable th {
color: white;
background-color:#333333; /*header of checkout table*/
font-size: 18px;
text-align: left;
padding: 5px 5px 5px 5px;
border-radius: 2pt;
  box-shadow: 0 0 0 1pt grey;
}

#inventoryTable {
width: 90%;
font-weight: 400;
  font-style: normal;
  border-collapse: collapse;
  border-radius: 2pt;
  box-shadow: 0 0 0 1pt grey;
}
#inventoryTable tr:nth-child(even) {
background-color: #eee;
}
#inventoryTable tr:nth-child(odd) {
background-color: lightgray;
}
#inventoryTable th {
font-size: 16px;
  text-align: left;
  padding: 5px 5px 5px 5px;  
  background-color: #333333;
  color: white;

}

#firstname
{
border-radius: 5px;
border: none;
box-shadow: 2px 2px rgba(114, 114, 113, 0.3);
}

#lastname
{
border-radius: 5px;
border: none;
box-shadow: 2px 2px rgba(114, 114, 113, 0.3);
}

#submit
{
border-radius: 5px;
background-color: #F9C506; 
color: white;
border: none;
box-shadow: 2px 2px rgba(114, 114, 113, 0.3);
}

#checkOutTable
{
border-radius: 10px;

}

#schools
{
border-radius: 5px;
}

#refresh
{
  border-radius: 5px;
  background-color: #F9C506;
  color: white;
  border: none;
  box-shadow: 2px 2px rgba(114, 114, 113, 0.3);
}

#findPerson
{
  border-radius: 5px;
  background-color: #F9C506;
  color: white;
  border: none;
  box-shadow: 2px 2px rgba(114, 114, 113, 0.3);
}