 body{
   background-color:#efefef;
 }
* {    
    box-sizing: border-box;    
  }    
      .row{
  text-align:center;
  padding-top:30%;
}

@media screen and (max-width:600px){
  .row{
  text-align:center;
  padding-top:60%;
}
}

.container {
  padding-top:15px;
    padding-left:3%;
}
.copyright p {
    font-size: 14px;
    color: #666;
    line-height: -webkit-calc(24/14);
    line-height: -moz-calc(24/14);
    line-height: calc(24/14);
}
  .page-wrapper {
    overflow: hidden;
    background: #efefef;
    /* padding-bottom: 8vh; */
}
  table {
    border-collapse:separate;
    border:solid whitesmoke 2px;
    border-radius:6px;
    -moz-border-radius:6px;
  }
  .table_background {
    background-color: white;
    margin-left: .5vw;
    margin-right: 3vw;
    margin-bottom: 3vh;
    margin-top: 1vh;
  }
  
  #checkOutTable {
    font-weight: 400;
    font-style: normal;
    border-collapse: collapse;
    width: 40%;
  }
  #checkOutTable tr:nth-child(even) {
  background-color: /*#eee;*/#eff2f5
  }
  #checkOutTable tr:nth-child(odd) {
  background-color: /*#fff*/rgba(114, 114, 113, 0.3);
  padding: 10px 10px 10px 10px;
  text-align: left;
  }
  #checkOutTable th {
  color: white;
  background-color:#333333; /*header of checkout table*/
  font-size: 18px;
  text-align: left;
  padding: 5px 5px 5px 5px;
  border-radius: 2pt;
    box-shadow: 0 0 0 1pt grey;
  }

  #header
  {
    color: #526e86;
    padding-bottom: 15px;
  }
  #actionButtons
  {

  }

  #buttons
  {
      
  /*Enable Auto Center :)
  display: block;
  margin-left: auto;
  margin-right: auto;
  */
  text-align: center;
  width: 200px;
  margin-bottom: 5px;
  padding: 8px;
  background-color: #ffc600; 
  color: white;
  border: none;
  font-size: large;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(114, 114, 113, 0.3);
  }